@using Attractions.Web.Utility;
@using Attractions.Web.Entities.Model;
@model AttractionsIndexModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add new location";
}

<form role="form">
    <div class="form-group">
        <label for="exampleInputEmail1">Location</label>
        <input type="text" class="form-control" id="place" data-bind="event { change : $root.PageData.placeChange, valueUpdate:'afterkeydown' }" placeholder=" enter location"/>
    </div>
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="Title">Short description</label>
        <textarea class="form-control" id="ShortDescription" placeholder="Short Description" rows="3" cols="6"></textarea>
    </div>
    <div class="form-group">
        <label for="Title">Long description</label>
        <textarea class="form-control" id="LongDescription" placeholder="Long Description" rows="6" cols="6"></textarea>
    </div>
    <div class="form-group">
        <label for="Title">Category</label>
        <select class="form-control" id="Category" >
                <option>Select Category</option>
                <option>Select Category</option>
                 <option>Select Category</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Title">Usage Type</label>
    </div>
    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>

    <script src="~/scripts/app/indexmodel.js"></script>
    <script type="text/javascript">
        var viewModelJs = {};
        portalViewModel.PageData.Data = ko.mapping.fromJS(viewModelJs);
    </script>
    @*@{
            KnockoutHelper.MapPageData<AttractionsIndexModel>(Model)
        }*@

